@use "../base/variables" as *;
// Utility classes
// Create these sparingly. I don't particularly like them.

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.displayOff {
    display: none !important;
}

.container {
    padding: 0;
    margin: 0;
}