

.expenseInfo {
  background-color: var(--beige);
  color: var(--darkerBrown);
  padding: 1rem;
  display: flex;
  // min-width: fit-content;
  min-height: fit-content;
  min-width: 20rem;
  max-width: 30rem;
  border-radius: 0.75rem;
  border: 3px outset var(--brownBlack);
  margin-bottom: 0.25rem;


  &:hover {
    border: 3px inset var(--warmRed);
    //background-color: var(--warmRed);
    //color: var(--tanWhite);
  }

  &[open] {

    &>summary:first-of-type {

      .sumTitle {

        i {
          rotate: 90deg;
        }

      }

      .sumTools {
        opacity: 1;
        transition: opacity 100ms ease-in, visibility 0ms ease-in 0ms;
        visibility: visible;

      }

    }

    &:hover {
      border-radius: 0.75rem;
      border: 3px outset var(--warmRed);
      color: var(--darkerBrown);
      background-color: var(--beige);
    }
  }


  summary {
    font-weight: 700;
    color: var(--tanWhite);
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sumTools {
      display: flex;
      justify-content: flex-end;
      opacity: 0;
      transition: opacity 100ms ease-in, visibility 0ms ease-in 100ms;
      visibility: hidden;
      gap: 0.1rem;

      .smallButton {
        display: flex;
        padding: 0;
        aspect-ratio: 1/1;
        margin: 0;

        i {
          font-size: 1rem;
          margin:0.3rem;
        }
      }

    }



  }

  ul {
    width: 100%;

    li {
      width: 100%;
      word-wrap: break-word;
    }
  }
}