
header{
  padding: 0.75rem 2em 0.75rem 2rem;
  border-bottom: 4px solid var(--warmRed);
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    justify-content: flex-end;
  }

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}