

<details th:fragment="expense (expenseObject)" class="expenseInfo">
    <summary>
        <span class="sumTitle">
            <i class="fa-solid fa-caret-right"></i>
            <span th:text="${expenseObject.getName()}"></span>
        </span>
        <span class="sumTools">
<!--            <a class="smallButton"><i class="fa-solid fa-circle-info"></i></a>-->
<!--            <a class="smallButton"><i class="fa-solid fa-pen"></i></a>-->
            <form th:action="@{/viewExpense/{id}(id = ${expenseObject.getExpenseID()})}" th:object="${expenseObject}" th:method="post">
                <button class="button smallButton" title="More Information" type="submit" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-circle-info"></i></button>
            </form>
            <form th:action="@{/editExpense/{id}(id = ${expenseObject.getExpenseID()})}" th:object="${expenseObject}" th:method="post">
                <button class="button smallButton" title="Edit Expense" type="submit" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-pen"></i></button>
            </form>
            <form th:action="@{/deleteExpense/{id}(id = ${expenseObject.getExpenseID()})}" th:object="${expenseObject}" th:method="post">
                <button class="button smallButton" title="Delete Expense" type="submit" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash"></i></button>
            </form>
        </span>

    </summary>
    <hr>
    <ul>
        <li th:text="'Cost: ' + ${expenseObject.getCost()}"></li>
        <li th:text="'Charge Frequency: ' + ${expenseObject.getChargeFrequency()}"></li>
        <li th:text="'Due Date: ' + ${expenseObject.getExpensePeriod().getDueDate()}"></li>
        <li th:text="'Start Date: ' + ${expenseObject.getExpensePeriod().getStartDate()}"></li>
        <li th:text="'Type: ' + ${expenseObject.getExpenseType()}"></li>
        <li th:text="'Status: ' + ${expenseObject.getDelinquency().getPaymentStatus()}"></li>
        <li th:text="'Late Fee: ' + ${expenseObject.getDelinquency().getLateFee()}"></li>
        <li th:text="'Grace Period: ' + ${expenseObject.getDelinquency().getGracePeriod()}"></li>
        <li th:text="'Notes: ' + ${expenseObject.getNotes()}"></li>
    </ul>

<!--    <form th:action="@{/editExpense}" th:object="${expenseObject}" th:method="post">-->
<!--        <fieldset disabled="disabled">-->
<!--            <input title="Expense Name" type="text" th:value="${expenseObject.getName()}">-->
<!--        </fieldset>-->
<!--    </form>-->

</details>