

<details th:fragment="expense (expenseObject)" class="expenseInfo">
    <!--/*@thymesVar id="expenseObject" type="com.MMS.MMS.model.Expense"*/-->
    <summary>
        <span class="sumTitle">
            <i class="fa-solid fa-caret-right"></i>
            <span th:text="${expenseObject.getName()}"></span>
        </span>
        <span class="sumTools">
<!--            <a class="smallButton"><i class="fa-solid fa-circle-info"></i></a>-->
<!--            <a class="smallButton"><i class="fa-solid fa-pen"></i></a>-->
            <form th:action="@{/deleteExpense/{id}(id = ${expenseObject.getExpenseID()})}" th:object="${expenseObject}" th:method="post">
                <button class="button smallButton" type="submit" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-circle-info"></i></button>
            </form>
            <form th:action="@{/deleteExpense/{id}(id = ${expenseObject.getExpenseID()})}" th:object="${expenseObject}" th:method="post">
                <button class="button smallButton" type="submit" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-pen"></i></button>
            </form>
            <form th:action="@{/deleteExpense/{id}(id = ${expenseObject.getExpenseID()})}" th:object="${expenseObject}" th:method="post">
                <button class="button smallButton" type="submit" onclick="return confirm('Are you sure?')"><i class="fa-solid fa-trash"></i></button>
            </form>
        </span>

    </summary>
    <hr>
    <ul>
        <li th:text="'Cost: ' + ${expenseObject.getCharge()}"></li>
        <li th:text="'Charge Frequency: ' + ${expenseObject.getChargeFrequency()}"></li>
        <li th:text="'Due Date: ' + ${expenseObject.getDueDate()}"></li>
        <li th:text="'Start Date: ' + ${expenseObject.getStartDate()}"></li>
        <li th:text="'Type: ' + ${expenseObject.getExpenseType()}"></li>
        <li th:text="'Status: ' + ${expenseObject.getPaymentStatus()}"></li>
        <li th:text="'Late Fee: ' + ${expenseObject.getLateFee()}"></li>
        <li th:text="'Grace Period: ' + ${expenseObject.getGracePeriod()}"></li>
        <li th:text="'Notes: ' + ${expenseObject.getNotes()}"></li>
    </ul>

</details>