<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head.html :: head('Home Page')}"><title>MMS</title></head>

<body>
<header th:replace="~{fragments/header.html}"></header>

<main>

<p th:if="${param.error != null}" class="errorMessage">
    There was an error creating your account. Please try again.
</p>

    <form role="form" th:action="@{/addUser}" th:object="${newUser}" th:method="post">
        <label>Enter Username:
            <input type="text" th:field="*{userName}"/>
        </label>
<!--        Not currently using the password, but I will eventually.-->
<!--        <label>Enter Password:-->
<!--            <input type="text" th:field="*{password}"/>-->
<!--        </label>-->

        <button class="button" type="submit">Create User</button>
    </form>

</main>
</body>
</html>