<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head.html :: head('Dashboard')}"><title>MMS</title></head>

<body>
    <header th:replace="~{fragments/header.html}"></header>
    <section class="editScreen">

        <div th:replace="~{fragments/leftSidebar.html}"></div>

        <div class="workArea">
            <h1>DASHBOARD</h1>
            <h3 th:text="'Welcome ' + ${session.loggedUser.userName()} +'!'"></h3>
            <a th:href="createExpense">Create Expense</a>
        </div>

        <div th:replace="~{fragments/rightSidebar.html}"></div>
    </section>
</body>
</html>