<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/head.html :: head('Login')}"><title>MMS</title></head>

<body>
<header th:replace="~{fragments/header.html}"></header>

<main>

    <p th:if="${param.error != null}" class="errorMessage">
        There was an error logging you in. Check your username and password.
    </p>

    <div th:each="user: ${users}">
        <h3 th:text="${user.userName()}"></h3>
        <form th:action="@{/logInUser/{id}(id = ${user.userID()})}" th:object="${user}" th:method="post">
            <button class="button" type="submit">Log In</button>
        </form>
    </div>

    <hr>

    <a class="button" th:href="createAccount">Create Account</a>


</main>

</body>
</html>